<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>About Us</h3>
        <p>We are a leading e-commerce company that offers a wide range of products at affordable prices.</p>
      </div>
      <div class="col-md-4">
        <h3>Contact Us</h3>
        <p>
          Address: 123 Main Street, Anytown, CA 12345<br>
          Phone: (123) 456-7890<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3>Social Media</h3>
        <ul class="social-media">
          <li><a href="https://www.facebook.com/example"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.twitter.com/example"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/example"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
